<footer class="footer">
	<small>
		<a href="mailto:selcuk@selcuksadak.com">Selcuk Sadak</a> &copy; 2013
	</small>
	<nav>
		<ul>
			<li><%= link_to "Hakkında", about_path %></li>
			<li><%= link_to "İletişim", contact_path %></li>
		</ul>
	</nav>
</footer>